*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #091921;
}
.custom-shape-divider-top-1683482865 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1683482865 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1683482865 .shape-fill {
    fill: #044869;
}
main{
    width: 30%;
    height: 59%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 10px ;
    padding: 20px;
}
main h1{
    font-size: 25px;
    font-weight: 600;
    color: #001e4d;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    font-family: cursive;
}
.quiz{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    align-items: flex-start;
}
.quiz h2{
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#answer-but{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    
}
.btn{
    height: 39px;
    border-radius: 4px;
    outline: none;
    border: 1px solid white;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.185) ;
    cursor: pointer;
    text-align: left;
    padding: 10px;
    transition: all 0.5;
}
.btn:hover:not([disabled]){
    background-color: #333;
    color: white;
    border: 1px solid #333;
}
.btn:disabled{
    cursor: no-drop;
}
#next{
    background-color: #001e4d;
    color: #fff;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    width: 80px;
    align-self: center;
    cursor: pointer;
    display: none;
}
.correct{
    background-color: #9aeabc;
    color: black;
}
.correct:hover{
    background-color:#9aeabc ;
    border: none;
    color: black;
}
.wrong{
    background-color: #ff9393;
    color: black;
}
.wrong:hover{
    background-color: #ff9393;
    border: none;
    color: black;
}